<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Myao</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <div id="container"></div>
  <script src="@ViewData["assets:main:js"]"></script>
  <script>
    window.ga=function(){{ga.q.push(arguments)}};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
  </script>
  <script crossorigin type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/core-js/client/shim.min.js"></script>
  <script crossorigin type="text/javascript" src="js/materialize.min.js"></script>
  <script crossorigin type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
