<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Maki Roggers Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../../client/components/kendoui/styles/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../../../client/components/kendoui/styles/site.css" type="text/css" />
  <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css"/>
  <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.metro.min.css"/>
  <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.rtl.min.css"/>
  <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.silver.min.css"/>
  <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.mobile.all.min.css"/>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/&#64;progress/kendo-grid-react-wrapper&#64;2017.3.1124/dist/cdn/kendo-grid-react-wrapper.js"></script>
  <script type="text/javascript" src="https://unpkg.com/core-js/client/shim.min.js"></script>
  <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>
  <script type="text/javascript" src="../../../client/components/kendoui/js/kendo.all.min.js"></script>
  <script type="text/javascript" src="../../../client/components/kendoui/js/jszip.min.js"></script>
</head>
<body>
  <div id="container"></div>
  <script src="@ViewData["assets:main:js"]"></script>
  <script>
    window.ga=function(){{ga.q.push(arguments)}};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
