<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Myao Mirror (My Augmented Object Mirror)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="cat-icon" href="cat-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="client/components/Layout/Layout.css">
</head>
<body>
  <div id="container"></div>
  <script src="@ViewData["assets:main:js"]"></script>
  <script>
    window.ga=function(){{ga.q.push(arguments)}};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
  </script>
  <script crossorigin type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin type="text/javascript" src="https://unpkg.com/core-js/client/shim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
</body>
</html>
