* {
  font-family: 'Cousine', monospace;
  box-sizing: content-box;
}

body {
  background-color: #000000;
  color: #3ff; 
  /* cyan */
}

html {
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html, body { height: 100%; padding: 0; margin: 0; }

.main-color-background {
  background-color: #3ff;
}

.main-color-text {
  background-color: #3ff;
}

.component {
  width: 100%;
  height: 100%;
}

.component:hover {
  border: 1px solid black;
  outline: #3ff dotted;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* color: #ffffff; */
}

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #35363b;
  background-image: linear-gradient(0deg, #000000, #2f2f36);
  flex-shrink: 0;
}

.container {
  margin: 0 auto;
}

/* .tagline,
.summary {
  color: #fff;
} */

.tagline {
  font-size: 3em;
}

.summary {
  font-size: 2em;
}

.upper-left, .upper-right, .bottom-left, .bottom-right {
  margin: 0;
  padding: 0;
  width: 50%; 
  height: 50%; 
  position: fixed;
}

/* 
.upper-left {
  width: 48vw;
  height: 100vh;
}

.upper-right {
  width: 48vw;
  height: 20vh;
}

.middle-right {
  width: 48vw;
  height: 30vh;
} */

.bottom-right {
  bottom: 0;
  right: 0;
  max-width: 50vw;
} 

.url {
  max-width: 65%;
  float: right;
  vertical-align: top;
  /* display: inline-block; */
}

.source {
  max-width: 35%;
  float: left;
  vertical-align: top;
  text-align: left;
  /* display: inline-block; */
}